<section
  class="vh-90 bg-image"
  style="
    background-image: url('../../content/images/fondo-inicio.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card bg-primary" style="border-radius: 15px; color: white; margin: 2% 0 2% 0">
            <div class="card-body p-5">
              <h2 id="myUserLabel">Crear o editar un usuario administrador</h2>

              <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <jhi-alert-error></jhi-alert-error>

                <div class="mb-3" [hidden]="!editForm.value.id">
                  <input type="text" class="form-control" placeholder="ID" name="id" formControlName="id" readonly />
                </div>

                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Login" name="login" formControlName="login" />

                  <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.required">
                      Este campo es obligatorio.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('login')?.errors?.maxlength"
                      jhiTranslate="entity.validation.maxlength"
                      [translateValues]="{ max: 50 }"
                    >
                      Este campo no puede superar más de 50 caracteres.
                    </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('login')?.errors?.pattern">
                      Este campo solo puede contener letras, dígitos o correos electrónicos.
                    </small>
                  </div>
                </div>

                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Nombre" name="firstName" formControlName="firstName" />

                  <div
                    *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)"
                  >
                    <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.required">
                      Este campo es obligatorio.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('firstName')?.errors?.maxlength"
                      jhiTranslate="entity.validation.maxlength"
                      [translateValues]="{ max: 50 }"
                    >
                      Este campo no puede superar más de 50 caracteres.
                    </small>
                  </div>
                </div>

                <div class="mb-3">
                  <input type="text" class="form-control" placeholder="Apellidos" name="lastName" formControlName="lastName" />

                  <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.required">
                      Este campo es obligatorio.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('lastName')?.errors?.maxlength"
                      jhiTranslate="entity.validation.maxlength"
                      [translateValues]="{ max: 50 }"
                    >
                      Este campo no puede superar más de 50 caracteres.
                    </small>
                  </div>
                </div>

                <div class="mb-3">
                  <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email" />
                  <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('email')?.errors?.required"
                      jhiTranslate="entity.validation.required"
                    >
                      Este campo es obligatorio.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('email')?.errors?.maxlength"
                      jhiTranslate="entity.validation.maxlength"
                      [translateValues]="{ max: 100 }"
                    >
                      Este campo no puede superar más de 100 caracteres.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('email')?.errors?.minlength"
                      jhiTranslate="entity.validation.minlength"
                      [translateValues]="{ min: 5 }"
                    >
                      Este campo requiere al menos 5 caracteres.
                    </small>

                    <small
                      class="form-text text-danger"
                      *ngIf="editForm.get('email')?.errors?.email"
                      jhiTranslate="global.messages.validate.email.invalid"
                    >
                      Su correo electrónico no es válido.
                    </small>
                  </div>
                </div>

                <button type="submit" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                  <span>Crear</span>
                </button>

                <button type="button" class="btn btn-secondary" (click)="previousState()">
                  <span>Cancelar</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
