<div class="container-fluid">
  <div class="row flex-nowrap">
    <!-- DISPLAY NAVBAR BASED ON USER AUTHORITY -->
    <div class="col-auto col-md-3 col-xl-2 px-0" [ngSwitch]="userAuthorities">
      <div *ngSwitchCase="'ROLE_USER'" class="d-flex flex-column flex-shrink-0 p-3 bg-primary" style="width: 300px; height: 80vh">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link link-light" aria-current="page"> Perfil </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light"> Mis tickets </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light"> Mis transacciones </a>
          </li>
          <li class="nav-item">
            <button (click)="changeViewMode(VIEWMODE_PREFERENCES)" class="nav-link link-light">Preferencias</button>
          </li>
        </ul>
        <hr />
      </div>

      <div *ngSwitchCase="'ROLE_PROMOTER'" class="d-flex flex-column flex-shrink-0 p-3 bg-primary" style="width: 300px; height: 80vh">
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link link-light" aria-current="page"> Perfil </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light"> Ubicaciones </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light"> Eventos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light"> Dashboards </a>
          </li>
          <li class="nav-item">
            <button (click)="changeViewMode(VIEWMODE_PREFERENCES)" class="nav-link link-light">Preferencias</button>
          </li>
        </ul>
        <hr />
      </div>
    </div>

    <section class="vh-70 bg-image" *ngIf="currentViewMode === VIEWMODE_PREFERENCES">
      <div class="mask d-flex align-items-center gradient-custom-3">
        <div class="container h-50">
          <div class="row d-flex align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card bg-primary" style="color: white; border-radius: 15px; margin: 2% 0 0 30%; width: 100%">
                <div class="card-body p-5">
                  <h2 class="text-center mb-5">Editar perfil</h2>

                  <jhi-alert-error></jhi-alert-error>

                  <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <div formGroupName="user" class="mb-3">
                      <input
                        type="text"
                        class="form-control"
                        id="nombre"
                        name="nombre"
                        placeholder="Nombre"
                        formControlName="firstName"
                        data-cy="username"
                        #name
                      />

                      <!--                      <div-->
                      <!--                        *ngIf="-->
                      <!--                      editForm.get('user')!.invalid &&-->
                      <!--                      (editForm.get('user')!.dirty || editForm.get('user')!.touched)-->
                      <!--                    "-->
                      <!--                      >-->
                      <!--                        <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.required">-->
                      <!--                          Su nombre es obligatorio.-->
                      <!--                        </small>-->

                      <!--                        <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.minlength">-->
                      <!--                          Su nombre debe tener al menos 1 caracter.-->
                      <!--                        </small>-->

                      <!--                        <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.maxlength">-->
                      <!--                          Su nombre no puede tener más de 50 caracteres.-->
                      <!--                        </small>-->

                      <!--                        <small class="form-text text-danger" *ngIf="editForm.get('firstName')?.errors?.pattern">-->
                      <!--                          Su nombre no es válido.-->
                      <!--                        </small>-->
                      <!--                      </div>-->
                    </div>

                    <!--                      <div class="mb-3">-->
                    <!--                        <input-->
                    <!--                          type="text"-->
                    <!--                          class="form-control"-->
                    <!--                          id="lastName"-->
                    <!--                          name="login"-->
                    <!--                          placeholder="Apellido"-->
                    <!--                          formControlName="lastName"-->
                    <!--                          data-cy="lastName"-->
                    <!--                        />-->

                    <!--                        <div-->
                    <!--                          *ngIf="-->
                    <!--                      editForm.get('lastName')!.invalid &&-->
                    <!--                      (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)-->
                    <!--                    "-->
                    <!--                        >-->
                    <!--                          <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.required">-->
                    <!--                            Su apellido es obligatorio.-->
                    <!--                          </small>-->

                    <!--                          <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.minlength">-->
                    <!--                            Su apellido debe tener al menos 1 caracter.-->
                    <!--                          </small>-->

                    <!--                          <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.maxlength">-->
                    <!--                            Su apellido no puede tener más de 50 caracteres.-->
                    <!--                          </small>-->

                    <!--                          <small class="form-text text-danger" *ngIf="editForm.get('lastName')?.errors?.pattern">-->
                    <!--                            Su apellido no es válido.-->
                    <!--                          </small>-->
                    <!--                        </div>-->
                    <!--                      </div>-->

                    <div class="mb-3">
                      <select class="form-control" name="genderu" formControlName="genderu" id="field_genderu" data-cy="genderu">
                        <option [ngValue]="null">{{ null }}</option>
                        <option *ngFor="let gender of genderValues" [value]="gender">{{ gender }}</option>
                      </select>
                    </div>

                    <button
                      type="submit"
                      id="save-entity"
                      data-cy="entityCreateSaveButton"
                      [disabled]="editForm.invalid || isSaving"
                      class="btn btn-primary"
                    >
                      <span>Actualizar</span>
                    </button>

                    <button
                      type="button"
                      id="cancel-save"
                      data-cy="entityCreateCancelButton"
                      class="btn btn-secondary"
                      (click)="previousState()"
                    >
                      <span>Cancelar</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="d-flex justify-content-center" *ngIf="currentViewMode === VIEWMODE_PREFERENCES">
      <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
          <h2 id="jhi-user-account-heading" data-cy="UserAccountCreateUpdateHeading">Preferencias</h2>

          <div>
            <jhi-alert-error></jhi-alert-error>
          </div>

          <div></div>
        </form>
      </div>
    </div>
  </div>
</div>
