<div style="margin-top: 3%">
  <h2 id="page-heading" data-cy="PhotoHeading" style="margin-left: 10%; font-weight: bold">
    <span>Fotos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ticketyApp.photo.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-photo"
        [routerLink]="['/photo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Crear nueva Foto </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="photos?.length === 0">
    <span>Ninguna Foto encontrada</span>
  </div>

  <div class="table-responsive table-entities tickety-table" id="entities" *ngIf="photos && photos.length > 0">
    <table class="table table-striped fondo-blanco" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="url">
            <div class="d-flex">
              <span jhiTranslate="ticketyApp.photo.url">Url</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span>Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="galery.id">
            <div class="d-flex">
              <span>Galería</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let photo of photos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/photo', photo.id, 'view']">{{ photo.id }}</a>
          </td>
          <td>{{ photo.url }}</td>
          <td jhiTranslate="{{ 'ticketyApp.PhotoStatus.' + photo.status }}">{{ photo.status }}</td>
          <td>
            <div *ngIf="photo.galery">
              <a [routerLink]="['/galery', photo.galery.id, 'view']">{{ photo.galery.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/photo', photo.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/photo', photo.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(photo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
