<div class="d-flex justify-content-center fondo-blanco color-letra">
  <div class="container fondo-blanco">
    <div class="row">
      <div class="col-md-12 mt-4 mb-4">
        <div *ngIf="event" class="row">
          <jhi-alert-error></jhi-alert-error>

          <jhi-alert></jhi-alert>

          <div class="col-md-8 event-img-container">
            <img src="{{ event.showCase }}" alt="Paris" class="img-responsive" />
            <button
              type="button"
              [routerLink]="['/event', event.id, 'edit']"
              class="btn btn-sm btn-outline-danger btn-event"
              *ngIf="!accountService.hasAnyAuthority(['ROLE_ADMIN']) && !accountService.hasAnyAuthority(['ROLE_USER'])"
            >
              <span jhiTranslate="entity.action.edit">Editar</span>
            </button>
          </div>

          <div class="col-md-4">
            <div class="row m-lg-5">
              <div class="col-md-12 mb-2" *ngIf="!accountService.hasAnyAuthority(['ROLE_ADMIN'])">
                <button (click)="setTicketPrice()" type="button" class="btn btn-block btn-primary btn-lg ml-2 mt-4">Comprar Entrada</button>
              </div>
            </div>
            <div class="event-details-containet">
              <dl class="col-xs-1 m-lg-5">
                <dt><span>Nombre</span></dt>
                <dd>
                  <span>{{ event.eventName }}</span>
                </dd>
                <hr class="hr" />
                <dt><span>Descripción</span></dt>
                <dd>
                  <span>{{ event.eventDescription }}</span>
                </dd>
                <dt><span>Fecha</span></dt>
                <dd>
                  <span>{{ event.date | formatMediumDate }}</span>
                </dd>
                <dt><span>Tickets disponibles</span></dt>
                <dd>
                  <span>{{ event.talTickets }}</span>
                </dd>
                <dt><span>Precio </span></dt>
                <dd>
                  <span>{{ event.eventPrice }}</span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fondo-blanco bg-separator"></div>
