@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.bg-separator {
  height: 140px;
}

.background-image {
  background-image: url('../../../../content/images/fondo-inicio.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fondo-blanco {
  background-color: #20262e;
}

.color-letra {
  color: white;
}

.color-boton {
  background-color: #913175;
  border-color: #913175;
  color: white;
}

.color-sec {
  color: #913175;
}

.boton-inicio {
  text-align: center;
  padding: 30px;
}

.fondo-rojo {
  background-color: #bb2d3b;
  border-color: #bb2d3b;
}

.img-responsive {
  width: 100%;
  height: 100%;
}
.event-img-container {
  box-shadow: 5px 5px 5px 2px rgba(0.3, 0, 0.3, 0.3);
  position: relative;
}

.event-details-containet {
  width: 100%;
  height: 62%;
  box-shadow: 5px 5px 5px 2px rgba(0.3, 0, 0.3, 0.3);
}

.btn-event {
  transform: translate(-150%, 450px);
  position: absolute;
  width: 100px;
}

ngx-paypal {
}
