<div class="background-image bg-separator"></div>
<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="ticket">
      <h2 data-cy="ticketDetailsHeading"><span jhiTranslate="ticketyApp.ticket.detail.title">Ticket</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ ticket.id }}</span>
        </dd>
        <dt><span jhiTranslate="ticketyApp.ticket.date">Date</span></dt>
        <dd>
          <span>{{ ticket.date | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="ticketyApp.ticket.ticketStatus">Ticket Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'ticketyApp.TicketStatus.' + ticket.ticketStatus }}">{{ ticket.ticketStatus }}</span>
        </dd>
        <dt><span jhiTranslate="ticketyApp.ticket.event">Event</span></dt>
        <dd>
          <div *ngIf="ticket.event">
            <a [routerLink]="['/event', ticket.event.id, 'view']">{{ ticket.event.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/ticket', ticket.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
