<div class="d-flex justify-content-center background-image color-letra">
  <div class="col-8 fondo-blanco">
    <div *ngIf="venue">
      <h2 data-cy="venueDetailsHeading"><span>Dirección</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ venue.id }}</span>
        </dd>
        <dt><span>Dirección</span></dt>
        <dd>
          <span>{{ venue.address }}</span>
        </dd>
        <dt><span>Capacidad</span></dt>
        <dd>
          <span>{{ venue.capacity }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/venue', venue.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
