<div class="wrapper bg-dark">
  <div class="image-holder">
    <div class="container-fluid background-image text-center d-flex align-items-center">
      <h1 class="fw-bold text-light mx-auto" style="padding-top: 20%">
        Tickety

        <h2 class="text-light">Nueva experiencia en compra de tiquetes</h2>
      </h1>
      <div class="mt-5"></div>
    </div>
  </div>

  <div class="form-inner">
    <div>
      <div class="d-flex justify-content-center position-absolute" style="margin-top: 1%">
        <div class="col-md-8">
          <div class="alert alert-success" *ngIf="success" jhiTranslate="register.messages.success">
            <strong>Cuenta creada</strong> Por favor, revise su correo electrónico para confirmar.
          </div>

          <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
            <strong>No se ha podido registrar su cuenta</strong> Por favor, inténtelo de nuevo más tarde.
          </div>

          <div class="alert alert-danger" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
            <strong>El nombre de usuario ya está registrado</strong> Por favor, escoja otro usuario.
          </div>

          <div class="alert alert-danger" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
            <strong>¡El correo electrónico ya está en us</strong> Por favor, escoja otro email.
          </div>

          <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
            La contraseña y la confirmación de contraseña no coinciden
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="d-flex justify-content-center align-items-center h-100 bg-dark" style="color: white">
        <div class="bg-dark card-body p-5" style="margin-top: 1%">
          <h2 class="text-center text-light mb-5">Crea cuenta</h2>

          <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
            <div class="mb-3">
              <label class="form-label" for="nombre">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
                placeholder="Nombre"
                formControlName="firstName"
                data-cy="username"
                #name
              />

              <div
                *ngIf="
                  registerForm.get('firstName')!.invalid && (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.required">
                  Su nombre es obligatorio.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.minlength">
                  Su nombre debe tener al menos 1 caracter.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.maxlength">
                  Su nombre no puede tener más de 50 caracteres.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.pattern">
                  Su nombre no es válido.
                </small>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="lastName">Apellido</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                name="login"
                placeholder="Apellido"
                formControlName="lastName"
                data-cy="lastName"
              />

              <div
                *ngIf="
                  registerForm.get('lastName')!.invalid && (registerForm.get('lastName')!.dirty || registerForm.get('lastName')!.touched)
                "
              >
                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.required">
                  Su apellido es obligatorio.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.minlength">
                  Su apellido debe tener al menos 1 caracter.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.maxlength">
                  Su apellido no puede tener más de 50 caracteres.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.pattern">
                  Su apellido no es válido.
                </small>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="field_genderu">Género</label>
              <select class="form-control" name="genderu" formControlName="genderu" id="field_genderu" data-cy="genderu">
                <option value="" disabled selected>Género</option>
                <option [ngValue]="null">{{ 'ticketyApp.Gender.null' | translate }}</option>
                <option *ngFor="let gender of genderValues" [value]="gender">{{ 'ticketyApp.Gender.' + gender | translate }}</option>
              </select>

              <div
                *ngIf="registerForm.get('genderu')!.invalid && (registerForm.get('genderu')!.dirty || registerForm.get('genderu')!.touched)"
              >
                <small class="form-text text-danger" *ngIf="registerForm.get('genderu')?.errors?.required">
                  Su género es obligatorio.
                </small>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="email">Correo electrónico</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Correo electrónico"
                formControlName="email"
                data-cy="email"
              />

              <div *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.required"
                  jhiTranslate="global.messages.validate.email.required"
                >
                  Se requiere un correo electrónico.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.invalid"
                  jhiTranslate="global.messages.validate.email.invalid"
                >
                  Su correo electrónico no es válido.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.email.minlength"
                >
                  Se requiere que su correo electrónico tenga por lo menos 5 caracteres
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('email')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.email.maxlength"
                >
                  Su correo electrónico no puede tener más de 50 caracteres
                </small>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                formControlName="password"
                data-cy="firstPassword"
              />

              <div
                *ngIf="
                  registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.required"
                  jhiTranslate="global.messages.validate.newpassword.required"
                >
                  Se requiere que ingrese una contraseña.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.newpassword.minlength"
                >
                  Se requiere que su contraseña tenga por lo menos 4 caracteres
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('password')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.newpassword.maxlength"
                >
                  Su contraseña no puede tener más de 50 caracteres
                </small>
              </div>

              <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value"></jhi-password-strength-bar>
            </div>

            <div class="mb-3">
              <label class="form-label" for="confirmPassword">Confirmar contraseña</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword"
                data-cy="secondPassword"
              />

              <div
                *ngIf="
                  registerForm.get('confirmPassword')!.invalid &&
                  (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
                "
              >
                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                  jhiTranslate="global.messages.validate.confirmpassword.required"
                >
                  Se requiere que confirme la contraseña.
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                  jhiTranslate="global.messages.validate.confirmpassword.minlength"
                >
                  Se requiere que su contraseña de confirmación tenga por lo menos 4 caracteres
                </small>

                <small
                  class="form-text text-danger"
                  *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                  jhiTranslate="global.messages.validate.confirmpassword.maxlength"
                >
                  Su contraseña de confirmación no puede tener más de 50 caracteres
                </small>
              </div>
            </div>

            <div class="d-flex justify-content-center">
              <button
                type="submit"
                [disabled]="registerForm.invalid"
                class="btn btn-primary"
                jhiTranslate="register.form.button"
                data-cy="submit"
              >
                Crear la cuenta
              </button>
            </div>

            <p class="text-center mt-5 mb-0">
              ¿Ya tienes una cuenta? <a routerLink="/login" class="fw-bold"><u class="text-light">Iniciar sesión</u></a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
