<section class="vh-100 bg-dark">
  <div class="mask d-flex align-items-center gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="bg-dark" style="color: white">
            <div class="card-body p-5">
              <h2 style="margin-top: 10%" id="jhi-organization-heading" data-cy="OrganizationCreateUpdateHeading">Crea una organización</h2>

              <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <jhi-alert-error></jhi-alert-error>

                <div class="mb-3">
                  <label class="form-label" for="field_name">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="field_name"
                    data-cy="name"
                    placeholder="Nombre"
                    formControlName="name"
                  />

                  <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                    <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> Se requiere un nombre. </small>

                    <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.minlength">
                      Se requiere que su contraseña de confirmación tenga por lo menos 2 caracteres
                    </small>
                  </div>
                </div>
                <div>
                  <button
                    type="submit"
                    id="save-entity"
                    data-cy="entityCreateSaveButton"
                    [disabled]="editForm.invalid || isSaving"
                    class="btn btn-primary"
                  >
                    <span>Guardar</span>
                  </button>

                  <button
                    type="button"
                    id="cancel-save"
                    data-cy="entityCreateCancelButton"
                    class="btn btn-secondary"
                    (click)="previousState()"
                  >
                    <span>Cancelar</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
