<form *ngIf="user" name="deleteForm" (ngSubmit)="confirmDelete(user.login!)">
  <div class="modal-header">
    <h4 class="modal-title" style="font-weight: bold">Eliminar usuario</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p>
      ¿Desea eliminar el usuario <b>{{ user.login }}</b
      >?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <span jhiTranslate="entity.action.cancel">Cancelar</span>
    </button>

    <button type="submit" class="btn btn-danger">
      <span jhiTranslate="entity.action.delete">Eliminar</span>
    </button>
  </div>
</form>
