<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="photo">
      <h2 data-cy="photoDetailsHeading"><span jhiTranslate="ticketyApp.photo.detail.title">Photo</span></h2>
      <hr />
      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>
      <img src="{{ photo.url }}" alt="Paris" class="center" />
      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ photo.id }}</span>
        </dd>

        <dt><span jhiTranslate="ticketyApp.photo.url">Url</span></dt>
        <dd>
          <span>{{ photo.url }}</span>
        </dd>
        <dt><span jhiTranslate="ticketyApp.photo.status">Status</span></dt>
        <dd>
          <span jhiTranslate="{{ 'ticketyApp.PhotoStatus.' + photo.status }}">{{ photo.status }}</span>
        </dd>
        <dt><span jhiTranslate="ticketyApp.photo.galery">Galery</span></dt>
        <dd>
          <div *ngIf="photo.galery">
            <a [routerLink]="['/galery', photo.galery.id, 'view']">{{ photo.galery.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/photo', photo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
