<form *ngIf="venue" name="deleteForm" (ngSubmit)="confirmDelete(venue.id!)">
  <div class="modal-header">
    <h4 class="modal-title" style="font-weight: bold">Eliminar local</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p id="jhi-delete-venue-heading">
      ¿Desea eliminar el local <b>{{ venue.name }}</b
      >?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <span>Cancelar</span>
    </button>

    <button id="jhi-confirm-delete-venue" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <span>Eliminar</span>
    </button>
  </div>
</form>
