<div class="d-flex justify-content-center fondo-gris color-letra">
  <div class="col-8 fondo-blanco">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-heading" data-cy="EventCreateUpdateHeading">Crear o editar Evento</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_date">Fecha</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_eventSatus">Estado</label>
          <select class="form-control" name="eventSatus" formControlName="eventSatus" id="field_eventSatus" data-cy="eventSatus">
            <option *ngFor="let eventSatus of eventSatusValues" [value]="eventSatus" [disabled]="editForm.controls.id.value === null">
              {{ 'ticketyApp.EventSatus.' + eventSatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_talTickets">Tickets disponibles</label>
          <input
            type="number"
            class="form-control"
            name="talTickets"
            id="field_talTickets"
            data-cy="talTickets"
            formControlName="talTickets"
          />
          <div *ngIf="editForm.get('talTickets')!.invalid && (editForm.get('talTickets')!.dirty || editForm.get('talTickets')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('talTickets')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              Este campo debe ser mayor que 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('talTickets')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              Este campo debe ser un número.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventPrice">Precio de los tickets</label>
          <input
            type="number"
            class="form-control"
            name="eventPrice"
            id="field_eventPrice"
            data-cy="eventPrice"
            formControlName="eventPrice"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventName">Nombre</label>
          <input type="text" class="form-control" name="eventName" id="field_eventName" data-cy="eventName" formControlName="eventName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_eventDescription">Descripción</label>
          <input
            type="text"
            class="form-control"
            name="eventDescription"
            id="field_eventDescription"
            data-cy="eventDescription"
            formControlName="eventDescription"
          />
        </div>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_galery">Galería de imágenes</label>
          <select
            class="form-control"
            id="field_galery"
            data-cy="galery"
            name="galery"
            formControlName="galery"
            [compareWith]="compareGalery"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="galeryOption" *ngFor="let galeryOption of galeriesCollection">{{ galeryOption.name }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_venue">Dirección</label>
          <select class="form-control" id="field_venue" data-cy="venue" name="venue" formControlName="venue" [compareWith]="compareVenue">
            <option [ngValue]="null"></option>
            <option [ngValue]="venueOption" *ngFor="let venueOption of venuesSharedCollection">{{ venueOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary"
          [disabled]="
            editForm.controls.date.value === null &&
            editForm.controls.talTickets.value === null &&
            editForm.controls.eventPrice.value === null &&
            editForm.controls.eventName.value === null &&
            editForm.controls.eventDescription.value === null &&
            editForm.controls.venue.value === null
          "
        >
          <span jhiTranslate="entity.action.save">Guardar</span>
        </button>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>
      </div>
    </form>
  </div>
</div>
